Email.summary.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        -140
      ],
      "id": "1b7090e5-c5bf-4aab-9fca-1dce7509ef47",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        140,
        -140
      ],
      "id": "3d3565fd-a30e-4ac3-9e1e-a966b1b1c75c",
      "name": "Gmail",
      "webhookId": "58824bcb-ce87-4fe1-845e-5ec3a9e9c154",
      "credentials": {
        "gmailOAuth2": {
          "id": "rFTLj2oz7jek03ch",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "snippet"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        360,
        -140
      ],
      "id": "ee20ba4a-9420-4515-a1de-131d122ea0b9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.4,
          "topK": 32,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        580,
        20
      ],
      "id": "50e39138-ab94-4210-bbba-919b136ea698",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1APAozIoAxVEo73I",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "Your Gmail Summary",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        940,
        -140
      ],
      "id": "d2452e79-def3-437b-84e7-061e797e6161",
      "name": "Gmail1",
      "webhookId": "bd551acf-cc39-4dc3-a91b-353ef3daafbd",
      "credentials": {
        "gmailOAuth2": {
          "id": "rFTLj2oz7jek03ch",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Go through this snippet  and make it good summary and dont miss important points\nsnippet: {{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        580,
        -140
      ],
      "id": "ec87b4ab-d464-4448-9003-8cd101280f9e",
      "name": "summary agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "summary agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "summary agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "summary agent": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3794f148-ac9c-4b44-a99c-edc670eb732b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfb16e1c536e78272b26efd52606bfec23f220f0625922843703920a38a7ecbd"
  },
  "id": "cyB5Pcet0Xcof4vw",
  "tags": []
}